<header class="header">
  <div class="branding">
    <a class="nav-link">
      <img height="48.8" alt="logo" width="100" src="assets/Leidos_QTC_Logo_White.png">
      <span class="logotext">Weather Notifications</span>
    </a>
  </div>
  <div class="header-actions-wrap">
    <div class="notes-container" *ngIf="appointmentsIconRequired">
      <a class="notes-text">
        <cds-icon shape="folder-open" title="Appointments" size="md" (click)="openAppointmentsWindow()">
        </cds-icon>
        <span>Appointments</span>
      </a> 
    </div>
    <div class="notes-container" *ngIf="notesRequired">
      <a class="notes-text">
        <cds-icon shape="note" title="Notes" size="md" (click)="openNotesWindow()">
        </cds-icon>
        <span class="notes-icon-text">Notes</span>
      </a>
    </div>
    <div class="vl"></div>
    <div class="settings-dd-wrap">
      <clr-dropdown class="action-dd">
        <span class="user-Icon">
          <cds-icon shape="user" solid="true" style="vertical-align: text-top;">
          </cds-icon>
        </span>
        <span class="user-icon-text">{{userName}}</span>
      </clr-dropdown>
    </div>
  </div>
</header>
