.req label:before {
    color: #e32;
    content: '* ';
    display: inline;
    width: 100px;

}

.narrow-select {
    width: 190px;
}

.red-text {
    font-size: 14px;
    float: left;
    margin-top: 10px;
    color: rgb(215, 8, 8);
    padding: 3px;
}

.yellow-icon {
    color: #FFCC00;
    margin-bottom: 2px;
}

.warning-icon cds-icon path {
    fill: #000000;
}

.normaldateinput {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.normaldateinput label::before {
    color: rgb(215, 8, 8);
    content: '* ';
    display: inline;

}

.normaldateinput label {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 10px;
}

.dateerror {
    margin-left: 264px;
}

.normaldateinput input {
    width: auto;
    flex: 1 0 auto;
}

.clr-control-error {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.clr-control-error span {
    padding-left: 10px;
    margin-left: 15px;
}

.normaldateinput .clr-before-err {
    margin-right: 10px
}

.disabled {
    pointer-events: none;
    opacity: .3;
}

.charlim {
    color: red;
    font-size: 9px;
    padding: 0 10px;
}

.inline-error clr-control-error {
    display: inline-block;
    white-space: nowrap;
    font-size: 0.8 rem;
}

.clr-modal .modal-body .clr-row {
    margin-bottom: 0 rem
}

 /* Custom styling to remove vertical scrollbar */
clr-modal .modal-body {
    max-height: 95vh; /* Limit height to viewport */
    padding: 0.5rem; /* Adjust padding */
    box-sizing: border-box;
}

/* Adjust modal container if necessary */
clr-modal {
    overflow: hidden; /* Ensure no scroll for the entire modal */
}

::ng-deep .modal-header--accessible {
    padding-bottom: 10px !important;
}

::ng-deep .modal-body-wrapper {
    overflow-y: auto !important;
    max-height: 73vh !important;
}

 /* Ensure the modal's body is scrollable but without vertical scrollbars */
clr-modal .modal-body {
    max-height: 95vh; /* Limit height relative to the viewport */
    overflow-y: auto; /* Allow scrolling inside the modal body */
    -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
clr-modal .modal-body::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari */
}

/* Ensure no extra scrollbars on the modal container itself */
clr-modal {
    overflow: hidden; /* Prevent extra scrollbars on the entire modal */
}

/* Adjust padding for the modal body to ensure content fits properly */
clr-modal .modal-body {
    padding: 1rem; /* Adjust padding for better spacing */
    box-sizing: border-box; /* Ensure padding does not affect dimensions */
}
