it('should handle getUsStates response correctly', () => {
  spyOn(component['commonService'], 'getUsStates').and.returnValue(
    of([
      { countryCode: 'CA', countryName: 'California', key: 'CA', value: 'California' },
      { countryCode: 'TX', countryName: 'Texas', key: 'TX', value: 'Texas' },
    ])
  );

  component.ngOnInit();

  expect(component.states).toEqual([
    { countryCode: 'CA', countryName: 'California', key: 'CA', value: 'California' },
    { countryCode: 'TX', countryName: 'Texas', key: 'TX', value: 'Texas' },
  ]);
  expect(component.notificationSearch.frmSrchState).toEqual([]);
});
