<ul class="multiselect-container dropdown-menu show" data-popper-placement="bottom-start" style="max-height: 350px; overflow: hidden auto; position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 35px);"><li class="active"><a tabindex="0"><label class="checkbox"><input type="checkbox" value="USA"> 
                        UNITED STATES OF AMERICA
                    </label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="ALA"> 
                        ÅLAND ISLANDS
                    </label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="ALB"> 
                        ALBANIA
                    </label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="DZA"> 
                        ALGERIA
                    </label>
                    </label></a></li></ul>

this how it rendering in UI ..how to clear the selections 


<div class="form-group">
            <select class="form-control" id="ddlRescheduleWeatherEvent" name="Weather Alerts" placeholder="- Select Weather Alert -"><option value="">- Select Weather Alert -</option><option value="32">Event: TestHero, Type: Tatoo, Description: Desc - AL [2025-03-21T00:00:00 - 2025-05-24T00:00:00]</option><option value="36">Event: ShimlaSnow, Type: Heavy Snow fall, Description: Loc - Simla [2025-04-29T00:00:00 - 2025-05-24T00:00:00]</option><option value="31">Event: HeroAlert, Type: Feathers, Description: Test-Alert [2025-04-29T00:00:00 - 2025-05-24T00:00:00]</option><option value="11">Event: DELETE COUNTRY STATE TEST, Type: null, Description: TESTING DELETE COUNTRY STATE [2025-04-10T00:00:00 - 2025-05-24T00:00:00]</option><option value="44">Event: Future DateWA, Type: null, Description: Future DateWA [2025-06-06T00:00:00 - 2025-06-30T00:00:00]</option></select>
        </div>



 function toggleWeatherAlerts() {
     // debugger;
    var requestedByText = $("#ddlRequestedBy option:selected").text();
    var rescheduleReasonText = $("#ddlRescheduleReason option:selected").text();

    if (requestedByText === "EXAMINEE" && rescheduleReasonText==="Appointment rescheduled per weather event") {
        $("#weatherAlertsSection").show();
    } else {
        $("#weatherAlertsSection").hide();


        $("#ddlRescheduleApptState option:selected").prop("selected", false);
        $("#ddlRescheduleApptCountry option:selected").prop("selected", false);
        $("#ddlRescheduleWeatherEvent").val(null).trigger("change");

        // Force the dropdowns to display the placeholder text
        $(".qtc-weather-alert-multi-select").each(function () {
            $(this).find("option:selected").removeAttr("selected"); 
            $(this).val("").trigger("change");
        });
    }
}
